.imageContainer{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 2px;
   margin-left: 2%;
   margin-top: %;
    
    
}

.images{
    width: 90%;
    overflow: hidden;
    padding-top: 45px;
   

}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}